<p>
  <%= comment.body %>
</p>
<p>
  <%= comment.created_at %>
</p>
<p>
<div id="comment_votes_counter_<%= comment.id %>">
  <%= comment.counter %>
</div>
</p>
<div id="comment_vote_<%= comment.id %>">
  <%= comment_vote_button(comment) %>
</div>
<br/>
