<h1>DebateQuestion</h1>
<div id="analytics">
  <%= render :partial => "debate_questions/analytics", :locals => {:analytics_data => @analytics_data} %>
</div>
<p><%= @debate_question.body %></p>

<div id="vote_buttons">
  <%= render :partial => "debate_questions/vote_buttons", :locals => {:debate => @debate_question} %>
</div>

<p><%= t('comments') %>:</p>

<div id="comments">
    <%= render 'comments/list' %>
</div>

<h2><%= t('new_comment') %></h2>
<%= form_for (Comment.new, :url => debate_question_comments_path(@debate_question), :remote => true) do |f| %>
    <%= f.hidden_field :debate_question_id, :value => @debate_question.id %>
    <p>
      <%= f.label :body %>
      <%= f.text_area :body, :size => "20x10" %>
      <%= f.submit %>
    </p>
<% end %>