<h1>DebateQuestion</h1>
<div id="analytics" style="display:none;">
  <%= render :partial => "debate_questions/analytics", :locals => {:analytics_data => @analytics_data} %>
</div>


<div class="question_area ">
  <p><%= @debate_question.body %></p>

  <% if controller.authorized? %>
  <div id="vote_buttons">
    <%= render :partial => "debate_questions/vote_buttons", :locals => {:debate => @debate_question} %>
  </div>
  <% end %>
</div>

<h3><span><%= t('comments') %>:</span></h3>

<div id="comments">
  <%= render 'comments/list' %>
</div>

<% if controller.authorized? %>
<h3><span><%= t('new_comment') %></span></h3>
<%= form_for (Comment.new, :url => debate_question_comments_path(@debate_question), :remote => true) do |f| %>
    <%= f.hidden_field :debate_question_id, :value => @debate_question.id %>
    <div id="new_comment">
      <div id="label_comment"><%= f.label "Your comment:"%></div>
      <div id="text_comment"><%= f.text_area :body, :size => "90x3" %></div>
      <div id="button_comment"><%= f.submit %></div>
    </div>
<% end %>
<% end %>