<script>
   new Analytics(<%= @analytics_data.to_json.html_safe %>);
</script>
<h1>DebateQuestion</h1>
<div id="placeholder_by_debate_analytics" style="width:960px;height:300px;"></div>
<div id="overview_by_debate_analytics" style="margin-top:20px;width:960px;height:100px"></div>
<p><%= @debate_question.body %></p>

<div id="vote_buttons">
  <%= render :partial => "debate_questions/vote_buttons", :locals => {:debate => @debate_question} %>
</div>

<p><%= t('comments') %>:</p>

<div id="comments">
    <%= render 'comments/list' %>
</div>

<h2><%= t('new_comment') %></h2>
<%= form_for (Comment.new, :url => debate_question_comments_path(@debate_question), :remote => true) do |f| %>
    <%= f.hidden_field :debate_question_id, :value => @debate_question.id %>
    <p>
      <%= f.label :body %>
      <%= f.text_area :body, :size => "20x10" %>
      <%= f.submit %>
    </p>
<% end %>