<% if controller.authorized? %>
<h3><span><%= t('new_debate') %></span></h3>
<%= render 'debate_questions/new_debate_question' %>
<% end %>

<h3><span><%= t('top_debates') %></span></h3>

<div id="top_debates">
   <%= render @top_debates  %>
</div>
<a class="all_button" href="#">All Debates</a>

<h3><span><%= t('recent_debates') %></span></h3>

<div id="recent_debates">
    <%= render @recent_debates  %>
</div>
<a class="all_button" href="#">All Debates</a>

